*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue;
	background: rgba(255, 84, 0, 1.0);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
